---
layout: default
---

{% for post in site.posts %}
  <div class="entry old_entry">
    <div class="entrytitle">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2> 
      <h3>{{ post.date | date_to_string }} | <a href="{{ post.url }}#disqus_thread" class="commentslink">View comments</a></h3>
    </div>
  </div>
{% endfor %}

<script type="text/javascript">
//<![CDATA[
(function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/smeyfro-github-io/get_num_replies.js' + query + '"></' + 'script>');
  })();
//]]>
</script>
